body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 15px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 20px;
    font-size: 18px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

button.equal {
    grid-column: span 2; /* Fará o botão igual ocupar 2 colunas */
    background-color: #ff9800;
    color: white;
}

button.zero {
    grid-column: span 2; /* O botão "0" ocupará duas colunas */
}

button:active {
    background-color: #ddd;
}

button:focus {
    outline: none;
}
